{% load static %}
{% block content %}
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">Sistema de Turoriales</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Home</a>
          </li>
          {% if user.is_authenticated == False %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'SignUp' %}">Registrarse</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'ask' %}">Preguntar</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}">Cerrar Sesion
            </a>

          <li class="nav-item">
            <a class="nav-link active" href="{% url 'listusers' user.id %}">
              {{user.username}}
            </a>
          </li>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Logearse</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="d-flex" method=POST action="{% url 'search' %}">
              {% csrf_token %}
              <div class="form-check form-check-inline">
                <a class="nav-link">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" name="confiable">
                  <label class="form-check-label" for="inlineCheckbox1" COLOR="black">
                    Confiable
                  </label>
                </a>
              </div>
              <input class="form-control me-2" type="search" placeholder="Buscar...!" aria-label="Search" name="buscar">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

{% endblock content %}